  /* --- CHARTE GRAPHIQUE TECH FOR BUSINESS --- */
        :root {
            --primary-color: #007bff; /* Bleu Bootstrap Électrique */
            --secondary-color: #212529; /* Noir Anthracite */
            --light-bg: #f8f9fa; /* Gris très clair */
            --font-title: 'Poppins', sans-serif;
            --font-body: 'Roboto', sans-serif;
        }

        body {
            font-family: var(--font-body);
            color: var(--secondary-color);
            background-color: white;
        }

        h1, h2, h3, h4, .navbar-brand {
            font-family: var(--font-title);
            font-weight: 700;
        }
        
        /* --- NAVIGATION --- */
        .navbar-brand {
            font-size: 1.6rem;
            color: var(--secondary-color) !important;
        }
        
        .navbar-brand span {
            color: var(--primary-color);
        }
        
        .nav-link {
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: 500;
            color: var(--secondary-color) !important;
        }
        
        .nav-link:hover, .nav-link.active {
            color: var(--primary-color) !important;
        }