@import '_template.scss';
@import '_index.scss';
@import '_404.scss';
@import '_aPropos.scss';
@import '_contact.scss';
@import '_article.scss';
@import '_articlesdetail.scss';
@import '_img.scss';
@import '_colors.scss';