RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteBase /

# Redirige tout sauf les fichiers et dossiers existants vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Transformer /article/mon-slug en detailArticle.php?slug=mon-slug
RewriteRule ^article/([a-zA-Z0-9\-]+)$ detailArticle.php?slug=$1 [L,QSA]